.homelogo{
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.8;
}
#container{
    padding: 0.5% 3% 0.5% 0.5%;
    margin: 0 1% 30px 10%;
    width: 55%;
    min-height: 820px;
    height: auto;
    background: linear-gradient(lightseagreen, darkslategrey);
    box-shadow: -5px -5px 20px -1px rgba(0,0,0,0.75);
    border-radius: 12px;
}


#page{
    float: right;
    padding: 0.5%;
    margin: 0 10% 4px 0;
    width: 24%;
    min-height: 600px;
    height: auto;
    background: linear-gradient(dodgerblue, darkseagreen);
    box-shadow: 5px -5px 20px -1px rgba(0,0,0,0.75);
    border-radius: 12px;
}

.footerdown{
    clear: both;
}

#submituser{
    float: left;
}


.col-md-5{
    margin-left: 0;
    padding-left: 0;
}



/*18 grats@ nerqevum*/
#leftside{
    float: left;
}
#rightside{
    float: right;
}
#leftside, #rightside{
    width: 49%;
}
#leftside label{
    padding: 0;
    float: left;
    margin-bottom: 5%;
}

#rightside label{
    padding: 0;
    float: right;
    margin-bottom: 5%;
}
#leftside input{
    width: 60%;
    float: right;
    margin: 0;
}
#rightside input{
    width: 60%;
    float: left;
    margin: 0;
}
#leftside .between{
    width: 100%;
    clear: left;

}
#rightside .between{
    width: 100%;
    clear: right;
}























